@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

.spinner {
  animation: spin infinite 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    --pri-1: #9DC107;
    --pri-2: #499925;
    --pri-3: #28600c;
    --grey-1: #d2d2d2
}

.fileInput::file-selector-button{
  width: 16rem;
  color: transparent;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.375rem;
  margin: 2rem 0;
  background-color: transparent;
  border: 2px solid var(--pri-2);
  outline: 2px solid transparent;
  outline-offset: 2px;
}


.hide-scrollBar::-webkit-scrollbar{
    width: 0;
}